@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-cyan: cyan;
  --color-light-cyan: lightcyan;

  --color-grey-dark-1: #212529;
  --color-grey-dark-2: #343a40;
  --color-grey-dark-3: #495057;
  --color-grey-dark-4: #6c757d;
  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #e9ecef;
  --color-grey-light-3: #dee2e6;
  --color-grey-light-4: #ced4da;
  --color-grey-light-5: #adb5bd;
}

.g-h-screen {
  height: 100vh;
}

.header-container {
  /* container-type: inline-size;
  container-name: header-container; */

  container: header-container / inline-size;
}

.header {
  background-color: skyblue;
}

@container (width > 1200px) {
  .header {
    background-color: red;
  }
}
